{
  "extends": ["stylelint-config-recommended"],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
      "max-nesting-depth": 3,
      "property-no-vendor-prefix": true,
      "max-empty-lines": 2,
      "indentation": 2,
      "function-calc-no-unspaced-operator": true,
      "string-quotes": "single",
      "no-duplicate-selectors": true,
      "color-hex-case": "upper",
      "color-named": "never",
      "selector-max-id": 0,
      "selector-combinator-space-after": "always",
      "declaration-block-trailing-semicolon": "always",
      "declaration-colon-space-before": "never",
      "declaration-colon-space-after": "always",
      "rule-empty-line-before": "always-multi-line",
      "media-feature-range-operator-space-before": "always",
      "media-feature-range-operator-space-after": "always",
      "media-feature-parentheses-space-inside": "never",
      "media-feature-colon-space-before": "never",
      "media-feature-colon-space-after": "always",
      "order/order": [
        "custom-properties",
        "declarations"
      ],
      "order/properties-alphabetical-order": true
  }
}
