div {
  background: #444;
  color: var(--mainColor);

  & h1 {
    align-items: center;
    display: flex;
    font-size: 20px;
    text-decoration: underline;

    & p {
      color: #FFFFFF;

      & div {
        color: #000000;
      }
    }
  }
}
